<!-- <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
  <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/home">
         Grandé deCafé </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="material-icons">apps</i> Template
              </a>
            </li>
          </ul>
      
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="material-icons">apps</i> Template
                </a>
              </li>
            </ul>
        
          </div>
          
        


        

  </div>
</nav>
 -->

 <body class="index-page sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
      <div class="container">
        <div class="navbar-translate">

          <a class="navbar-brand" routerLink="/">
            Grandé deCafé
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="material-icons">face</i> Account
                </a>
                <div class="dropdown-menu dropdown-with-icons">
          
                  <a href="#" class="dropdown-item" routerLink="/login" >
                      <i class="material-icons">fingerprint</i>Login
                    </a>
                    <a href="#" class="dropdown-item" routerLink="/signin">
                        <i class="material-icons">person_add</i>Sign In
                      </a>
                </div>
              </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">apps</i> Serving Type
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="#" class="dropdown-item">
                  <i class="material-icons">line_style</i> Ground
                </a>
                <a href="#" class="dropdown-item">
                  <i class="material-icons">layers</i> WholeBean
                </a>
                <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> SingleServeCup
                  </a>
                 
                <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Nespresso Compatible
                  </a>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">view_day</i> By Roast
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Light & Subtle
                  </a>
                  <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Dark & Distinctive
                  </a>
                  <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Decaffeinated
                  </a>
                  <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Medium & Smooth
                  </a>
                  <a href="#" class="dropdown-item">
                      <i class="material-icons">layers</i>Reserved
                    </a>
                   
                  <a href="#" class="dropdown-item">
                      <i class="material-icons">layers</i> Flavored 
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="material-icons">layers</i> Organic
                      </a>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">view_carousel</i> Caffeine
              </a>
              <div class="dropdown-menu dropdown-with-icons">
        
                <a href="#" class="dropdown-item">
                    <i class="material-icons">layers</i> Regular
                  </a>
                  <a href="#" class="dropdown-item">
                      <i class="material-icons">layers</i> Decaffinated
                    </a>
              </div>
            </li>
           
            <li class="button-container nav-item iframe-extern">
              <a href="#" target="_blank" class="btn  btn-rose   btn-round btn-block">
                <i class="material-icons">shopping_cart</i> Buy Now
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 </body>